
.HomeButton {

    width: 4%;
    height: 8vh;
    border-radius: 50%;
    border-style: none;
background-color: rgb(255, 223, 223);
    position: fixed;
    top: 5%;
    left: 2.5%;
    z-index: 99;
}

.HomeButton img{

    width: 50%;

}


.hgpagetop {

    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 60%;
}

.hgpagetop img {

width: auto;
height: 100vh;
border-radius: 50px;
position: absolute;
position: absolute;
right: 50%;

}

.hgpagetop h1 {

    font-family: Oswald;
    src: url(fonts\Oswald.zip);
font-size: 5em;
color: rgb(179, 49, 49);
position: absolute;
left: 60%;
margin-top: 10%;

}


.hgpagetop h2 {

font-family: Oswald;
src: url(fonts/Oswald.zip);
font-size: 7em;
color: rgb(179, 49, 49);
position: absolute;
left: 57%;
margin-top: 20%;


}

.hgarticle {
    width: 100%;
    font-style: italic;
    font-family: Oswald;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    
    }


.hgarticle h1 {

font-size: 3em;
color: rgb(179, 49, 49);
font-style: normal;

}


.hgarticle p {

    width: 50%;
}