
.pagetop {

    background-image: url(images/banffnationalpark.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 1%;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 2.5%;
}

.pagename {


font-family: Oswald;
src: url(fonts/Oswald.zip);
font-size: 8em;
text-align: center;
padding-top: 10%;
color: rgb(216, 42, 42);
opacity: 100%;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.pagedescription {

font-family: Oswald;
src: url(fonts/Oswald.zip);
text-align: center;
font-size: 2em;
position: absolute;
left: 12.5%;
bottom: 10%;
color: white;
opacity: 100%;
text-shadow: 5px 5px 5px rgba(0,0,0, 0.75);
}


aside img {

    width: 12.5%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5%;
    opacity: 50%;
    
    
}

.aside2 img {

    width: 12.5%;
    height: auto;
    position: absolute;
    top: 0;
    left: 87.5%;
    border-radius: 5%;
    
    
}


.navigation {

    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 10%;
    margin-bottom: 10%;
    font-family: Oswald;
    src: url(fonts/Oswald.zip);
    font-size: 1.5em;
    position: sticky;
    top: 0;
    z-index: 99;

}

.navigation a {

text-decoration: none;
color: black;
text-shadow: 5px 5px 5px rgba(122, 122, 122, 0.3);
display: block; /*ADDED on 02/28/2023*/
transition: color 1s, transform 1s; /*ADDED on 02/28/2023*/
}

.navigation a:hover {

    color: rgb(200, 25, 25);/*ADDED on 02/28/2023*/
    transform:scale(150%); 

}


.info {

display: flex;
position: relative;
font-family: Oswald;
src: url(fonts/Oswald.zip);
margin-bottom: 20%;

}


.info h1 {

    margin-top: -1%;
font-size: 5em;
width: 100%;
color: rgb(179, 49, 49);

}


.info p {

    font-size: 1.75em;
    width: 50%;
    font-style: italic;
}

.info  img {

    width: 40%;
    height: auto;
    border-radius: 2.5%;
    position: absolute;
    right: 0;
}
